node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

TODO.txt
*.plist
google-services.json
.env
ExpoClientsCreds/
DeployClientCred/
pc-api-*

# macOS
.DS_Store
